body {
  background-color: #f1f3f5 !important;
  max-width: 1000px;
  margin-left: auto !important;
  margin-right: auto !important;
}
#layout-example .col {
  background-color: rgb(99, 173, 247);
  border: 1px rgb(0, 54, 108) solid;
}
